<ion-header>
  <ion-toolbar>
    <ion-title>{{"MODIFIER_INFO" | translate}}</ion-title>
    <ion-buttons slot="start">
       <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
</ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
  
  <!-- WALLPAPER -->
  <ion-row class="ion-justify-content-center">
    <!-- AVATAR ITEM  -->
    <div class="avatar" style="margin-top: 25px;" (click)="changeImage()">
      <!-- Avatar image -->
      <img class="avatar__image" *ngIf="profile?.imageUrl ; else placeholder_avatar;" [src]="profile.imageUrl" />
      <ng-template class="avatar" #placeholder_avatar>
          <img class="avatar__image" src="https://cdn-icons-png.flaticon.com/512/847/847969.png" />
      </ng-template>
     
    </div> 
    
    
 </ion-row>
 <!-- PERSONAL INFORMATION -->
 <!-- {{"2022-06-22T09:47:00-04:00" | date:'dd/MM/yyyy'}} -->
 <ion-row class="ion-justify-content-center ion-align-items-center">
   <ion-col size="6"><h2>{{"INFORMATIONS" | translate}}</h2></ion-col>
   <ion-col size="1"><ion-fab-button color="white" style="margin-left:25px" >
    <ion-icon name="add" ></ion-icon>
  </ion-fab-button></ion-col>
</ion-row>
 <ion-row>
  <ion-card style="width: 100%;">
    <ion-card-header>
      <ion-card-subtitle>Profession : </ion-card-subtitle><ion-card-title>{{profession }}</ion-card-title>
      <ion-card-subtitle>Name : </ion-card-subtitle><ion-card-title>{{name}}</ion-card-title>
      <ion-card-subtitle>Surname : </ion-card-subtitle><ion-card-title>{{surname}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-subtitle>About : </ion-card-subtitle><ion-card-title>{{about}}</ion-card-title>
    </ion-card-content>
  </ion-card>
 </ion-row>
 <!-- ACCOUNTS -->
 <ion-row class="ion-justify-content-center ion-align-items-center">
  <ion-col size="6"><h2>{{"ACCOUNTS" | translate}}</h2></ion-col>
  <ion-col size="1"><ion-fab-button color="white" style="margin-left:25px" (click)="showAddAccount()">
   <ion-icon name="add"></ion-icon>
 </ion-fab-button></ion-col>
</ion-row>
<form  *ngIf="formAccount"  [formGroup]="accountCredential" class="ion-padding-top">
  <ion-item lines="full">
    <ion-label position="floating">Account Name</ion-label>
    <ion-input type="text" formControlName="accountName" required></ion-input>
    <ion-note slot="error" *ngIf="(accountName.dirty||accountName.touched)&& accountName.errors">Maximum 15 characters</ion-note>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Account Link</ion-label>
    <ion-input type="text" formControlName="accountLink" required></ion-input>
    <ion-note slot="error" *ngIf="(accountLink.dirty||accountLink.touched)&& accountLink.errors">Maximum 35 characters</ion-note>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button type="submit" color="danger" expand="block" [disabled]="!accountCredential.valid" (click)="addAccount()">
        Add new Account</ion-button>
    </ion-col>
  </ion-row>
  </form>
  <ion-row>
    <ion-card style="width: 100%;"  *ngFor="let account of accountGet;let i = index">
      <ion-card-header>
        <ion-row style="width: 100%;" class="ion-justify-content-around">
    <ion-col size="10"> <ion-card-title class="ion-float-left">{{account.accountName}}</ion-card-title>  </ion-col> 
    <ion-col size="1"> <ion-icon  class="ion-float-end" name="cut"  style="color:rgb(191, 23, 4);" size="large" (click)="deleteAccount(accountId[i])"></ion-icon> </ion-col> 
        </ion-row>
        
      </ion-card-header>
      <ion-card-content>
       <a [href]="account.accountLink">{{account.accountLink}}</a> 
      </ion-card-content>
    </ion-card>
  </ion-row>
  
  <!-- EXPERIENCE  -->
 <ion-row class="ion-justify-content-center ion-align-items-center">
  <ion-col size="6" ><h2>{{"EXPERIENCE" | translate}}</h2></ion-col>
  <ion-col size="1"><ion-fab-button color="white" style="margin-left:25px" (click)="showAddExperience()">
   <ion-icon name="add"></ion-icon>
 </ion-fab-button></ion-col>
  
</ion-row>
<form *ngIf="formExperience"[formGroup]="experienceCredential" class="ion-padding-top">
  <ion-item lines="full">
    <ion-label position="floating">Title</ion-label>
    <ion-input type="text" formControlName="titleExperience" required></ion-input>
    <ion-note slot="error" *ngIf="(titleExperience.dirty||titleExperience.touched)&& titleExperience.errors">Min 8 and Max 35 characters</ion-note>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">School</ion-label>
    <ion-input type="email"  formControlName="structureExperience" required></ion-input>
    <ion-note slot="error" *ngIf="(structureExperience.dirty||structureExperience.touched)&& structureExperience.errors">Min 2 characters</ion-note>

  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">StartDay</ion-label>
    <ion-datetime hour-cycle="h12" formControlName="startDayExperience" locale="en-GB"></ion-datetime>
    <!-- <ion-input type="text" required></ion-input> -->
    
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">EndDay</ion-label>
    <ion-datetime hour-cycle="h12" formControlName="endDayExperience" locale="en-GB"></ion-datetime>
    <!-- <ion-input type="text" required></ion-input> -->
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">details</ion-label>
    <ion-textarea type="text" formControlName="detailExperience" required></ion-textarea>
    <ion-note slot="error" *ngIf="(detailExperience.dirty||detailExperience.touched)&& detailExperience.errors">Min 25 characters</ion-note>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button type="submit" color="danger" [disabled]="!experienceCredential.valid" expand="block" (click)="addExperience()">
        Add new Experience</ion-button>
    </ion-col>
  </ion-row>
  </form>
 <ion-row>
  <ion-card style="width: 100%;"  *ngFor="let experience of experienceGet;let i = index">
    <ion-card-header>
      <ion-row style="width: 100%;" class="ion-justify-content-around">
        <ion-col size="10"> <ion-card-title class="ion-float-left">{{experience.titleExperience}}</ion-card-title>  </ion-col> 
        <ion-col size="1"> <ion-icon (click)="deleteExperience(experienceId[i])" class="ion-float-end" name="cut"  style="color:rgb(191, 23, 4);" size="large"></ion-icon> </ion-col> 
            </ion-row>
      <ion-card-subtitle>{{experience.schoolExperience}}</ion-card-subtitle>
      <ion-card-subtitle>{{experience.startDayExperience  | date:'dd/MM/yyyy'}} - {{experience.endDayExperience  | date:'dd/MM/yyyy'}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{experience.detailsExperience}}
    </ion-card-content>
  </ion-card>
  
 </ion-row>
 
<!-- Formation & Diplome -->
<ion-row class="ion-justify-content-center ion-align-items-center">
  <ion-col size="6" ><h2>Formations</h2></ion-col>
  <ion-col size="1"><ion-fab-button color="white" style="margin-left:25px" (click)="showAddFormation()" >
   <ion-icon name="add"></ion-icon>
 </ion-fab-button></ion-col>
</ion-row>
<form [formGroup]="formationCredential" *ngIf="formFormation" class="ion-padding-top">
  <ion-item lines="full">
    <ion-label position="floating">Title</ion-label>
    <ion-input type="text" formControlName="titleFormation" required></ion-input>
    <ion-note slot="error" *ngIf="(titleFormation.dirty||titleFormation.touched)&& titleFormation.errors">Min 8 and Max 35 characters</ion-note>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">School</ion-label>
    <ion-input type="email"  formControlName="schoolFormation" required></ion-input>
    <ion-note slot="error" *ngIf="(schoolFormation.dirty||schoolFormation.touched)&& schoolFormation.errors">Min 2 characters</ion-note>

  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">StartDay</ion-label>
    <ion-datetime hour-cycle="h12" formControlName="startDayFormation" locale="en-GB"></ion-datetime>
    <!-- <ion-input type="text" required></ion-input> -->
    
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">EndDay</ion-label>
    <ion-datetime hour-cycle="h12" formControlName="endDayFormation" locale="en-GB"></ion-datetime>
    <!-- <ion-input type="text" required></ion-input> -->
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">details</ion-label>
    <ion-textarea type="text" formControlName="detailFormation" required></ion-textarea>
    <ion-note slot="error" *ngIf="(detailFormation.dirty||detailFormation.touched)&& detailFormation.errors">Min 25 characters</ion-note>

  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button type="submit"  color="success" expand="block" [disabled]="!formationCredential.valid" (click)="addFormation()">
        Add new Formation</ion-button>
    </ion-col>
  </ion-row>
  </form>
 <ion-row>
  <ion-card style="width: 100%;"  *ngFor="let formation of formationGet;let i=index">
    <ion-card-header>
      <ion-row style="width: 100%;" class="ion-justify-content-around">
        <ion-col size="10"> <ion-card-title class="ion-float-left">{{formation.titleFormation}}</ion-card-title></ion-col> 
        <ion-col size="1"> <ion-icon (click)="deleteFormation(formationId[i])" class="ion-float-end" name="cut"  style="color:rgb(191, 23, 4);" size="large"></ion-icon> </ion-col> 
            </ion-row>
      
      <ion-card-subtitle>{{formation.schoolFormation}}</ion-card-subtitle>
      <ion-card-subtitle>{{formation.startDayFormation  | date:'dd/MM/yyyy'}} - {{formation.endDayFormation  | date:'dd/MM/yyyy'}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{formation.detailFormation}}
    </ion-card-content>
  </ion-card>
  
 </ion-row>
 <!-- PROJETS -->
 <ion-row class="ion-justify-content-center ion-align-items-center">
  <ion-col size="6"><h2>{{"COMPETENCE" | translate}}</h2></ion-col>
  <ion-col size="1"><ion-fab-button color="white" style="margin-left:25px" (click)="showAddCompetence()" >
   <ion-icon name="add"></ion-icon>
 </ion-fab-button></ion-col>
  
</ion-row>
<form *ngIf="formCompetence" [formGroup]="competenceCredential" class="ion-padding-top">
  <ion-item lines="full">
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text" required formControlName="nameCompetence"></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Level</ion-label>
    <ion-input type="number" formControlName="levelCompetence" required></ion-input>
  </ion-item>
  
  <ion-row>
    <ion-col>
      <ion-button type="submit" color="danger" [disabled]="!competenceCredential.value" expand="block"  (click)="addCompetence()">
        Add new Competence</ion-button>
    </ion-col>
  </ion-row>
  </form>
 <ion-row>
  <ion-card style="width: 100%;" *ngFor="let competence of competenceGet;let i = index">
    <ion-card-header>
      <ion-row style="width: 100%;" class="ion-justify-content-around">
        <ion-col size="10"> <ion-card-subtitle>{{competence.nameCompetence}}</ion-card-subtitle></ion-col> 
        <ion-col size="1"> <ion-icon (click)="deleteCompetence(competenceId[i])" class="ion-float-end" name="cut"  style="color:rgb(191, 23, 4);" size="large"></ion-icon> </ion-col> 
            </ion-row>
      
      <ion-progress-bar value="{{(competence.levelCompetence)/100 | number}}" class="ion-margin-top"></ion-progress-bar>

    </ion-card-header>
  </ion-card>
  
 </ion-row>
 <!-- LANGUE -->
 <ion-row class="ion-justify-content-center ion-align-items-center">
  <ion-col size="6" ><h2>{{"LANGUE" | translate}}</h2></ion-col>
  <ion-col size="1"><ion-fab-button color="white" style="margin-left:25px" (click)="showAddLanguage()" >
   <ion-icon name="add"></ion-icon>
 </ion-fab-button></ion-col>
</ion-row>
<form *ngIf="formLanguage" [formGroup]="languageCredential" class="ion-padding-top">
  <ion-item lines="full">
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text" formControlName="nameLanguage" required></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Level</ion-label>
    <ion-select multiple="false" formControlName="levelLanguage" cancelText="No" okText="Valid">
      <ion-select-option value="Debutant">Debutant</ion-select-option>
      <ion-select-option value="Elementaire">Elementaire</ion-select-option>
      <ion-select-option value="Pre-Intermediaire">Pre-Intermediaire</ion-select-option>
      <ion-select-option value="Intermediaire">Intermediaire</ion-select-option>
      <ion-select-option value="Intermediaire Superieur">Intermediaire Superieur</ion-select-option>
      <ion-select-option value="Avance">Avance</ion-select-option>
      <ion-select-option value="Courant">Courant</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-row>
    <ion-col>
      <ion-button type="submit" color="danger" expand="block" [disabled]="!languageCredential.valid" (click)="addLanguage()">
        Add new Language</ion-button>
    </ion-col>
  </ion-row>
  </form>
  <ion-row>
    <ion-card style="width: 100%;" *ngFor="let language of languageGet;let i = index">
      <ion-card-header>
        <ion-row style="width: 100%;" class="ion-justify-content-around">
          <ion-col size="10"> <ion-card-title color="primary">{{language.nameLanguage}}</ion-card-title></ion-col> 
          <ion-col size="1"> <ion-icon (click)="deleteLanguage(languageId[i])"  class="ion-float-end" name="cut"  style="color:rgb(191, 23, 4);" size="large"></ion-icon> </ion-col> 
              </ion-row>
        
        <ion-card-subtitle>{{language.levelLanguage}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    
   </ion-row>
 <!-- CENTRE D'INTERET -->
 <ion-row class="ion-justify-content-center ion-align-items-center">
  <ion-col size="6"><h2>{{"DIVERTISSEMENT" | translate}}</h2></ion-col>
  <ion-col size="1"><ion-fab-button color="white" style="margin-left:25px" (click)="showAddHobbie()">
   <ion-icon name="add"></ion-icon>
 </ion-fab-button></ion-col>
</ion-row>
<form *ngIf="formHobbie" [formGroup]="hobbieCredential" class="ion-padding-top">
  <ion-item lines="full">
    <ion-label position="floating">Hobbie Name</ion-label>
    <ion-select multiple="false" formControlName="nameHobbie" cancelText="No" okText="Valid">
      <ion-select-option value="Cinema/théâtre">Cinema/théâtre</ion-select-option>
      <ion-select-option value="Decoration">Decoration</ion-select-option>
      <ion-select-option value="Dessin">Dessin</ion-select-option>
      <ion-select-option value="Sport">Sport</ion-select-option>
      <ion-select-option value="jeux Strategies">jeux Strategies</ion-select-option>
      <ion-select-option value="Danser">Danser</ion-select-option>
      <ion-select-option value="Jardiner">Jardiner</ion-select-option>
      <ion-select-option value="Jeux Videos">Jeux Videos</ion-select-option>
      <ion-select-option value="Lecture">Lecture</ion-select-option>
      <ion-select-option value="Redaction/Poeme">Redaction/Poeme</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button type="submit" color="danger" [disabled]="!hobbieCredential.valid" expand="block" (click)="addHobbie()">
        Add new Hobbie</ion-button>
    </ion-col>
  </ion-row>
  </form>
  <ion-row>
    <ion-card style="width: 100%;" *ngFor="let hobbie of hobbieGet;let i = index">
      <ion-card-header>
        <ion-row style="width: 100%;" class="ion-justify-content-around">
          <ion-col size="10"> <ion-card-title color="primary">{{hobbie.nameHobbie}}</ion-card-title></ion-col> 
          <ion-col size="1"> <ion-icon  (click)="deleteHobbie(hobbieId[i])" class="ion-float-end" name="cut"  style="color:rgb(191, 23, 4);" size="large"></ion-icon> </ion-col> 
              </ion-row>
      </ion-card-header>
    </ion-card>
    
   </ion-row>
  
</ion-grid>
</ion-content>