<ion-header>
  <ion-toolbar>
    <ion-title>Edit your Information</ion-title>
    <ion-buttons slot="start">
       <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
</ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
  
  <!-- WALLPAPER -->
  <ion-row class="ion-justify-content-center">
       
    <ion-avatar style="margin-top: 25px;" >
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    
 </ion-row>
 <!-- PERSONAL INFORMATION -->
 <ion-row class="ion-justify-content-center ion-align-items-center">
   <ion-col size="6"><h2>PERSONAL</h2></ion-col>
   <ion-col size="1"><ion-fab-button color="white" style="margin-left:25px" >
    <ion-icon name="add"></ion-icon>
  </ion-fab-button></ion-col>
  
    
  
</ion-row>
 <ion-row>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
 </ion-row>
 <!-- EXPERIENCE  -->
 <ion-row class="ion-justify-content-center ion-align-items-center">
  <ion-col size="6" ><h2>EXPERIENCE</h2></ion-col>
  <ion-col size="1"><ion-fab-button color="white" style="margin-left:25px" >
   <ion-icon name="add"></ion-icon>
 </ion-fab-button></ion-col>
  
</ion-row>
 <ion-row>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
 </ion-row>
 
<!-- Formation & Diplome -->
<ion-row class="ion-justify-content-center ion-align-items-center">
  <ion-col size="6" ><h2>FORMATION</h2></ion-col>
  <ion-col size="1"><ion-fab-button color="white" style="margin-left:25px" >
   <ion-icon name="add"></ion-icon>
 </ion-fab-button></ion-col>
  
</ion-row>
 <ion-row>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
 </ion-row>
 <!-- PROJETS -->
 <ion-row class="ion-justify-content-center ion-align-items-center">
  <ion-col size="6" ><h2>PROJETS</h2></ion-col>
  <ion-col size="1"><ion-fab-button color="white" style="margin-left:25px" >
   <ion-icon name="add"></ion-icon>
 </ion-fab-button></ion-col>
  
</ion-row>
 <ion-row>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
 </ion-row>
</ion-grid>
</ion-content>
