<ion-header>
  <ion-toolbar>
    <ion-title>{{"COMPETENCE" | translate}}s</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
   </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="6"><h2>{{"COMPETENCE" | translate}}s</h2></ion-col>
    <ion-col size="1"><ion-fab-button color="white" style="margin-left:25px" (click)="showAddCompetence()" >
     <ion-icon name="add"></ion-icon>
   </ion-fab-button></ion-col>
    
  </ion-row>
  <form *ngIf="formCompetence" [formGroup]="competenceCredential" class="ion-padding-top">
    <ion-item lines="full">
      <ion-label position="floating">{{"name" | translate}}</ion-label>
      <ion-input type="text" required formControlName="nameCompetence"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">{{"level" | translate}}</ion-label>
      <ion-input type="number" formControlName="levelCompetence" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">{{"categorie" | translate}} {{"list" | translate}}</ion-label>
      <ion-select multiple="false" formControlName="categorieCompetence" cancelText="No" okText="Valid">
        <ion-select-option value="biologie">{{"biologie" | translate}}</ion-select-option>
        <ion-select-option value="demographie">{{"demographie" | translate}}</ion-select-option>
        <ion-select-option value="informatique">{{"informatique" | translate}}</ion-select-option>
        <ion-select-option value="linguistique">{{"linguistique" | translate}}</ion-select-option>
        <ion-select-option value="mathematique">{{"mathematique" | translate}}</ion-select-option>
        <ion-select-option value="sociologie">{{"sociologie" | translate}}</ion-select-option>
        <ion-select-option value="culinaire">{{"culinaire" | translate}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" [disabled]="!competenceCredential.value" expand="block"  (click)="addCompetence()">
          {{'addnew' | translate}} {{'COMPETENCE' | translate}} </ion-button>
      </ion-col>
    </ion-row>
    </form>
   <ion-row>
    <ion-card style="width: 100%;" *ngFor="let competence of competenceGet;let i = index">
      <ion-card-header>
        <ion-row style="width: 100%;" class="ion-justify-content-around">
          <ion-col size="10"> <ion-card-subtitle>{{competence.nameCompetence}}</ion-card-subtitle></ion-col> 
          <ion-col size="1"> <ion-icon (click)="deleteCompetence(competenceId[i])" class="ion-float-end" name="close"  style="color:rgb(191, 23, 4);" size="medium"></ion-icon> </ion-col> 
              </ion-row>
        
        <ion-progress-bar value="{{(competence.levelCompetence)/100 | number}}" class="ion-margin-top"></ion-progress-bar>
  
      </ion-card-header>
    </ion-card>
    
   </ion-row>
</ion-content>
