<ion-app >
  <!-- Side Menu -->
  <ion-menu menuId="main-menu" contentId="menu">
    <!-- Header of my Side Menu  -->
   <ion-header>
     <ion-toolbar>
       <ion-item>
        <ion-icon name="settings"></ion-icon>
       </ion-item>
      
    </ion-toolbar>
   </ion-header>
   <!-- Content of my side Menu -->
   <ion-content>
     <!-- List of Items of my Side Menu -->
     <ion-row class="ion-justify-content-center">
       
        <ion-avatar style="margin-top: 25px;" >
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        
     </ion-row>
     <ion-row class="ion-justify-content-center" style="margin-top:20px;font-weight: bold;">
      {{ 'SETTING' | translate| uppercase}}
     </ion-row>
     
     <ion-list style="margin-top: 20px;">
      <ion-menu-toggle>
        <ion-item routerLink="/home">
          <ion-icon name="home-outline"  style="color:rgb(3, 26, 52);"></ion-icon>
           <ion-label style="margin-left:15px ;font-weight:bold;color:rgb(23, 84, 150)">
              {{"HOME" | translate}}
           </ion-label>
         </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle style="margin-top: 20px;">
        <ion-item routerLink="/edit-info">
          <ion-icon name="hammer"  style="color:rgb(236, 134, 0);"></ion-icon>
           <ion-label style="margin-left:15px ;font-weight:bold; color:rgb(227, 148, 44);">
            {{"EDIT" | translate}}  
           </ion-label>
         </ion-item>
      </ion-menu-toggle>
      
      <ion-menu-toggle style="margin-top: 20px;">
        <ion-item routerLink="/template">
          <ion-icon name="logo-steam" style="color:rgb(30, 71, 30)"></ion-icon>
           <ion-label style="margin-left:15px ; font-weight:bold; color:rgb(63, 114, 63) ">
              Templates
           </ion-label>
         </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle style="margin-top: 50px;">
        <ion-item (click)="logout()">
          <ion-icon name="exit-outline" style="color:red ;"></ion-icon>
           <ion-label style="margin-left:15px ; font-weight:bold; color: rgb(244, 103, 103);">
            {{"LOGOUT" | translate}}
           </ion-label>
         </ion-item>
      </ion-menu-toggle>
       
     </ion-list>
     <ion-list>
      <ion-item>
        <ion-label>Select Language</ion-label>
        <ion-select placeholder="Select Language" [(ngModel)]="selectedLanguage" (ionChange)="languageChanged()">
          <ion-select-option value="en">English</ion-select-option>
          <ion-select-option value="fr">French</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
   </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu"></ion-router-outlet>
</ion-app>

