<ion-header>
  <ion-toolbar>
      <ion-title>Welcome Select Your Template</ion-title>
      <ion-buttons slot="start">
         <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card class="ion-margin-top" routerLink="/template1" >
    <ion-card-header >
      <ion-img width="40" height="40" src="../../assets/template3.png"></ion-img>
      <ion-card-title color="primary" style="font-weight: bold;">Template 1 </ion-card-title>
    </ion-card-header>
    <ion-card-content>
     Generate Your CV with this Blue Template  
    </ion-card-content>
  </ion-card>
  <ion-card class="ion-margin-top" routerLink="/template2" height="20">
    <ion-card-header>
      <ion-img width="40" height="20" src="../../assets/template2.png"></ion-img>
      <ion-card-title color="primary" style="font-weight: bold;color: chocolate;"> Template 2 </ion-card-title>
    </ion-card-header>
    <ion-card-content>
     Generate Your CV with this Blue Template  
    </ion-card-content>
  </ion-card>
  <ion-card class="ion-margin-top" routerLink="/template3">
    <ion-card-header>
      <ion-img width="40" height="40" src="../../assets/template1.png"></ion-img>
      <ion-card-title color="primary" style="font-weight: bold;color:rgb(120, 165, 42);"> Template 3  </ion-card-title>
    </ion-card-header>
    <ion-card-content>
     Generate Your CV with this Blue Template  
    </ion-card-content>
  </ion-card>
  
</ion-content>
