<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title></ion-title>
      <ion-row>
        <ion-list style="margin-left:5%">
            <ion-item>
              <ion-select interface="popover" placeholder="Font style" [(ngModel)]="font_style" (ionChange)="fontChanged()">
                <ion-select-option value="sans-serif">sans-serif</ion-select-option>
                <ion-select-option value="system-ui">system-ui</ion-select-option>
                <ion-select-option value="emoji">emoji</ion-select-option>
                <ion-select-option value="inherit">inherit</ion-select-option>
                <ion-select-option value="unset">unset</ion-select-option>
                <ion-select-option value="serif">serif</ion-select-option>
                <ion-select-option value="Arial">Arial</ion-select-option>
                <ion-select-option value="monospace">monospace</ion-select-option>
                <ion-select-option value="Trebuchet MS">Trebuchet_MS</ion-select-option>
                <ion-select-option value="sans-serif">sans-serif</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-list style="margin-left:5%">
            <ion-item>
              <ion-select interface="popover" placeholder="Theme">
                <ion-select-option value="apples">Apples</ion-select-option>
                <ion-select-option value="oranges">Oranges</ion-select-option>
                <ion-select-option value="bananas">Bananas</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
      </ion-row>
      
      <ion-buttons slot="start">
         <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-icon slot="end" (click)="DownloadPDF()" id="download" name="download" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content   scrollX="true" >
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <div [style.font-family]=font_style  class="wrapper mt-lg-5" style="width: 100%;" #template1>
    
    <div class="sidebar-wrapper">
        <div class="profile-container">
            <img class="profile" src="assets/images/profile.png" alt="" />
            <h1 class="name">{{name}} {{surname}}</h1>
            <h3 class="tagline">{{profession}}</h3>
        </div><!--//profile-container-->
        
        <div class="contact-container container-block">
            <ul class="list-unstyled contact-list">
                <li class="email"><i class="fas fa-envelope"></i><a href="mailto: yourname@email.com">{{email}}</a></li>
                <li class="phone"><i class="fas fa-phone"></i><a href="tel:0123 456 789">{{contact}}</a></li>
                <div *ngFor="let account of accountGet">
                  <li class="website"><i class="fas fa-globe"></i><a href="https://themes.3rdwavemedia.com/boo" target="_blank">{{account.accountLink}}</a></li>
                </div>
                
            </ul>
        </div><!--//contact-container-->
        <div class="education-container container-block">
            <h2 class="container-block-title">Education</h2>
            <div class="item" *ngFor="let formation of formationGet">
                <h4 class="degree">{{formation.titleFormation}}</h4>
                <h5 class="meta">{{formation.schoolFormation}}</h5>
                  <div class="time">{{formation.startDayFormation | date:'dd/MM/yyyy'}} - {{formation.endDayFormation | date:'dd/MM/yyyy'}}</div>
            </div><!--//item-->
        </div><!--//education-container-->
        
        <div class="languages-container container-block">
            <h2 class="container-block-title">Languages</h2>
            <ul class="list-unstyled interests-list" *ngFor="let language of languageGet">
                <li style="margin-top: 15px;">{{language.nameLanguage}}<span class="lang-desc">({{language.levelLanguage}})</span></li>
            </ul>
        </div><!--//interests-->
        
        <div class="interests-container container-block">
            <h2 class="container-block-title">Interests</h2>
            <ul class="list-unstyled interests-list" *ngFor="let hobbie of hobbieGet">
                <li style="margin-top: 15px;">{{hobbie.nameHobbie}}</li>
            </ul>
        </div><!--//interests-->
        
    </div><!--//sidebar-wrapper-->
    
    <div class="main-wrapper">
        
        <section class="section summary-section">
            <h2 class="section-title"><span class="icon-holder"><i class="fas fa-user"></i></span>Career Profile</h2>
            <div class="summary">
                <p>{{about}}</p>
            </div><!--//summary-->
        </section><!--//section-->
        
        <section class="section experiences-section">
            <h2 class="section-title"><span class="icon-holder"><i class="fas fa-briefcase"></i></span>Experiences</h2>
            
            <div class="item" *ngFor="let experience of experienceGet">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">{{experience.titleExperience}}</h3>
                        <div class="time">{{experience.startDayExperience  | date:'dd/MM/yyyy'}} - {{experience.endDayExperience  | date:'dd/MM/yyyy'}}</div>
                    </div><!--//upper-row-->
                    <div class="company">{{experience.structureExperience}}</div>
                </div><!--//meta-->
                <div class="details">
                    <p>{{experience.detailsExperience}}</p>  
                </div><!--//details-->
            </div><!--//item-->
            
            
            
        </section><!--//section-->
        
        <section class="section projects-section">
            <h2 class="section-title"><span class="icon-holder"><i class="fas fa-archive"></i></span>Projects</h2>
            <div class="intro">
                <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
            </div><!--//intro-->
            <div class="item">
                <span class="project-title"><a href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/coderpro-bootstrap-5-startup-template-for-software-projects/" target="_blank">CoderPro</a></span> - <span class="project-tagline">A responsive website template designed to help developers launch their software projects. </span>
                
            </div><!--//item-->
            <div class="item">
                <span class="project-title"><a href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/launch-bootstrap-5-template-for-saas-businesses/" target="_blank">Launch</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote their products or services.</span>
            </div><!--//item-->
            <div class="item">
                <span class="project-title"><a href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/devcard-bootstrap-5-vcard-portfolio-template-for-software-developers/" target="_blank">DevCard</a></span> - <span class="project-tagline">A portfolio website template designed for software developers.</span>
            </div><!--//item-->
            <div class="item">
                <span class="project-title"><a href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/bootstrap-template-for-mobile-apps-nova-pro/" target="_blank">Nova Pro</a></span> - <span class="project-tagline">A responsive Bootstrap theme designed to help app developers promote their mobile apps</span>
            </div><!--//item-->
            <div class="item">
                <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/" target="_blank">DevStudio</a></span> - 
                <span class="project-tagline">A responsive website template designed to help web developers/designers market their services. </span>
            </div><!--//item-->
        </section><!--//section-->
        
        <section class="skills-section section">
            <h2 class="section-title"><span class="icon-holder"><i class="fas fa-rocket"></i></span>Skills &amp; Proficiency</h2>
            <div class="skillset" *ngFor="let competence of competenceGet"> 
                     
                <div class="item" >
                    <h3 class="level-title">{{competence.nameCompetence}}</h3>
                    <div class="progress level-bar">
                      <div class="progress-bar theme-progress-bar" role="progressbar" style="width: {{competence.levelCompetence}}%"  aria-valuemin="0" aria-valuemax="100"></div>
                  </div>                              
                </div><!--//item-->           
            </div>  
        </section><!--//skills-section-->
        
    </div><!--//main-body-->
</div>

</ion-content>