<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title></ion-title>
      <ion-row>
        <ion-list style="margin-left:5%" class="ion-justify-content-center">
            <ion-item>
              <ion-select interface="popover" placeholder="Font style" [(ngModel)]="font_style" (ionChange)="fontChanged()">
                <ion-select-option value="sans-serif">sans-serif</ion-select-option>
                <ion-select-option value="system-ui">system-ui</ion-select-option>
                <ion-select-option value="emoji">emoji</ion-select-option>
                <ion-select-option value="inherit">inherit</ion-select-option>
                <ion-select-option value="unset">unset</ion-select-option>
                <ion-select-option value="serif">serif</ion-select-option>
                <ion-select-option value="Arial">Arial</ion-select-option>
                <ion-select-option value="monospace">monospace</ion-select-option>
                <ion-select-option value="Trebuchet MS">Trebuchet_MS</ion-select-option>
                <ion-select-option value="sans-serif">sans-serif</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-list style="margin-left:5%" class="ion-justify-content-center">
            <ion-button color="primary" id="open-modal" expand="block">Custom Theme</ion-button>
            <ion-modal #modal trigger="open-modal" [swipeToClose]="true" [canDismiss]="canDismiss">
                <ng-template>
                  <ion-header>
                    <ion-toolbar>
                      <ion-title>Creez</ion-title>
                      <ion-buttons slot="end">
                        <ion-button (click)="modal.dismiss()">Close</ion-button>
                      </ion-buttons>
                    </ion-toolbar>
                  </ion-header>
                  <ion-content class="ion-padding">
                    <div style="align-items: center;display: flex;">
                        <input type="color" style="margin:.4rem" id="head" name="head" [(ngModel)]="color1"
                               value="{{color1}}">
                        <label  for="head">Primary color</label>
                    </div>
                    <div style="align-items: center;display: flex;">
                        <input type="color" style="margin:.4rem" id="head" name="head" [(ngModel)]="color2"
                               value="{{color2}}">
                        <label for="head">Secondary color</label>
                    </div>
                    <div style="align-items: center;display: flex;">
                        <input type="color" style="margin:.4rem" id="head" name="head" [(ngModel)]="color3"
                               value="{{color3}}">
                        <label for="head">Text color</label>
                    </div>
                  </ion-content>
                </ng-template>
              </ion-modal>
          </ion-list>
      </ion-row>
      
      <ion-buttons slot="start">
         <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-icon slot="end" (click)="DownloadPDF()" id="download" name="download" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content   scrollX="true" >
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row style="height: 70px;padding: 10px;">
    <ion-select interface="popover" placeholder="Structure" [(ngModel)]="structure" (ionChange)="fontChanged()">
      <ion-select-option value="camtel">CAMTEL</ion-select-option>
      <ion-select-option value="mtn">MTN</ion-select-option>
      <ion-select-option value="crtv">CRTV</ion-select-option>
      <ion-select-option value="developpement">Boite de Developpement</ion-select-option>
      <ion-select-option value="restaurant">Restaurant</ion-select-option>
    </ion-select>
    <ion-button (click)="GenerateCustomPDF()">CHOISIR</ion-button>
  </ion-row>
  
  <div [style.font-family]=font_style  class="wrapper mt-lg-5" style="width: 100%;background: {{color1}};" #template1>
    
    <div class="sidebar-wrapper" style=" color: {{color2}}; background:{{color1}};">
        <div class="profile-container" style="color:{{color3}}">
            
            <h1 class="name">{{name}} {{surname}}</h1>
            <h3 class="tagline">{{profession}}</h3>
        </div><!--//profile-container-->
        
        <div class="contact-container container-block">
            <ul class="list-unstyled contact-list">
                <li class="email" style="color:{{color2}}"><i class="fas fa-envelope"></i><h2 class="container-block-title" style="color: {{color2}};">E-MAIL : </h2><a  style="color:{{color3}}" href="mailto: yourname@email.com">{{email}}</a></li>
                <li class="phone" style="color:{{color2}}"><i class="fas fa-phone"></i><h2 class="container-block-title" style="color: {{color2}};">CONTACT : </h2><a style="color:{{color3}}" href="tel:0123 456 789">{{contact}}</a></li>
               
                
            </ul>
        </div><!--//contact-container-->
        <div class="education-container container-block">
            <h2 class="container-block-title" style="color: {{color2}};">Education</h2>
            <div class="item" *ngFor="let formation of formationGet">
                <h4 class="degree" style="color: {{color2}};">{{formation.titleFormation}}</h4>
                <h5 class="meta" style="color:{{color3}}">{{formation.schoolFormation}}</h5>
                  <div class="time" style="color:{{color3}}">{{formation.startDayFormation | date:'dd/MM/yyyy'}} - {{formation.endDayFormation | date:'dd/MM/yyyy'}}</div>
            </div><!--//item-->
        </div><!--//education-container-->
        
        <div class="languages-container container-block">
            <h2 class="container-block-title" style="color: {{color2}};">Languages</h2>
            <ul class="list-unstyled interests-list" *ngFor="let language of languageGet">
                <li style="margin-top: 15px;color: {{color2}};">{{language.nameLanguage}}<span class="lang-desc" style="color:{{color3}}">({{language.levelLanguage}})</span></li>
            </ul>
        </div><!--//interests-->
        
        <div class="interests-container container-block">
            <h2 class="container-block-title" style="color: {{color2}};">Interests</h2>
            <ul class="list-unstyled interests-list" *ngFor="let hobbie of hobbieGet">
                <li style="margin-top: 15px;color: {{color2}};">{{hobbie.nameHobbie}}</li>
            </ul>
        </div>
        <div class="interests-container container-block">
            <ngx-qrcode 
            [elementType]="elementType" 
            [value]="value"
            cssClass="aclass"
            >
          </ngx-qrcode>
        </div>
        <!--//interests-->
        
    </div><!--//sidebar-wrapper-->
    
    <div class="main-wrapper">
        <section class="section summary-section">
            <h2 class="section-title" style="color: {{color1}};"><span class="icon-holder" style="background:{{color1}};color:{{color3}};"><i class="fas fa-user"></i></span>ACCOUNTS</h2>
            <div class="summary">
                <div *ngFor="let account of accountGet">
                    <li class="website"><i class="fas fa-globe"></i><h3 class="container-block-title" style="color: {{color2}};"> {{account.accountName}}</h3><a style="color:{{color3}}" href="https://themes.3rdwavemedia.com/boo" target="_blank">{{account.accountLink}}</a></li>
                  <br/>
                  </div>
            </div><!--//summary-->
        </section>

        <section class="section summary-section">
            <h2 class="section-title" style="color: {{color1}};"><span class="icon-holder" style="background:{{color1}};color:{{color3}};"><i class="fas fa-user"></i></span>Career Profile</h2>
            <div class="summary">
                <p>{{about}}</p>
            </div><!--//summary-->
        </section><!--//section-->
        
        <section class="section experiences-section">
            <h2 class="section-title" style="color: {{color1}};"><span class="icon-holder" style="background:{{color1}};color:{{color3}};"><i class="fas fa-user"></i></span>Experiences</h2>
            
            <div class="item" *ngFor="let experience of experienceGet">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title" style="color: {{color1}};">{{experience.titleExperience}}</h3>
                        <div class="time" style="color: {{color3}};">{{experience.startDayExperience  | date:'dd/MM/yyyy'}} - {{experience.endDayExperience  | date:'dd/MM/yyyy'}}</div>
                    </div><!--//upper-row-->
                    <div class="company" style="color: {{color1}};">{{experience.structureExperience}}</div>
                </div><!--//meta-->
                <div class="details" style="color: {{color3}};">
                    <p>{{experience.detailsExperience}}</p>  
                </div><!--//details-->
            </div><!--//item-->
            
            
            
        </section><!--//section-->
        
       
        <section class="skills-section section">
            <h2 class="section-title"><span class="icon-holder"><i class="fas fa-rocket"></i></span>Skills &amp; Proficiency</h2>
            <div class="skillset" *ngFor="let competence of competenceGet"> 
                     
                <div class="item" >
                    <h3 class="level-title">{{competence.nameCompetence}}</h3>
                    <div class="progress level-bar" style="background:{{color3}};">
                      <div class="progress-bar theme-progress-bar" role="progressbar" style="width: {{competence.levelCompetence}}%;background:{{color1}}"  aria-valuemin="0" aria-valuemax="100"></div>
                  </div>                              
                </div><!--//item-->           
            </div>  
        </section><!--//skills-section-->
        
    </div><!--//main-body-->
</div>

</ion-content>