<ion-header>

</ion-header>

<ion-content class="ion-padding">
  <div class="title">
    <h4>Signup</h4>
    <p>Register and get started</p>
  </div>
  <form [formGroup]="credential" (ngSubmit)="register()">
    <ion-item>
      <ion-input placeholder="Name" type="text" class="primary-input" formControlName="name"></ion-input>
      <ion-note slot="error" *ngIf="(name.dirty)&& name.errors">Enter your Full name > 6 characters </ion-note>
     </ion-item>
     <ion-item class="ion-margin-top">
      <ion-input placeholder="Surname" type="text" class="primary-input" formControlName="surname"></ion-input>
      <ion-note slot="error" *ngIf="(surname.dirty || surname.touched)&& surname.errors">Enter your surname > 3 characters</ion-note>
     </ion-item>
     <ion-item class="ion-margin-top">
      <ion-input placeholder="Sex" type="text" class="primary-input" formControlName="sex"></ion-input>
      <ion-note slot="error" *ngIf="(sex.dirty)&& sex.errors">M(Masculin) / F(Feminin))</ion-note>
     </ion-item>
     <ion-item class="ion-margin-top">
      <ion-input placeholder="Age" type="number" class="primary-input" formControlName="age"></ion-input>
      <ion-note slot="error" *ngIf="(age.dirty)&& age.errors">age is invalid</ion-note>
     </ion-item>
     <ion-item class="ion-margin-top">
      <ion-input placeholder="Contact" type="number" class="primary-input" formControlName="contact"></ion-input>
      <ion-note slot="error" *ngIf="(contact.dirty)&& contact.errors">contact is invalid</ion-note>
     </ion-item>
     <ion-item class="ion-margin-top">
      <ion-input placeholder="Profession" type="text" class="primary-input" formControlName="profession"></ion-input>
      <ion-note slot="error" *ngIf="(profession.dirty)&& profession.errors">Enter correct profession</ion-note>
     </ion-item>
     <ion-item class="ion-margin-top">
      <ion-textarea placeholder="about description" type="text" class="primary-input" formControlName="about"></ion-textarea>
      <ion-note slot="error" *ngIf="(about.dirty)&& about.errors">Minimum 50 total characters </ion-note>
     </ion-item>
    <ion-item class="ion-margin-top">
    <ion-input placeholder="Email" type="email" class="primary-input" formControlName="email"></ion-input>
    <ion-note slot="error" *ngIf="(email.dirty||email.touched)&& email.errors">Email is invalid</ion-note>
   </ion-item>
   <ion-item class="ion-margin-top">
    <ion-input placeholder="password" type="password" class="primary-input" formControlName="password"></ion-input>
    <ion-note slot="error" *ngIf="(password.dirty||password.touched)&& password.errors">password need to be 6 characters min</ion-note>
   </ion-item>
  <div class="ion-margin-top">
    <ion-button expand="block" (click)="register()" [disabled]="!credential.valid">SIGN UP</ion-button>
  </div>
</form>
  <div class="ion-margin-top ion-text-center">
    <a routerLink="/">Close</a>
  </div>
</ion-content>
